html
  head
    title Chadtech Tracker or Non-Cloud Data Delimiter
    link(rel="stylesheet" href="./app.css")
    script.
      var fs = require('fs');
      var path = require('path');
  body
    div(id="content")
    input(id="fileExporter" type="file" style="display: none")
    script(src="./index.js")
